@page
@model ToolBox.Pages.LicenseManager.HomeModel
@{
    ViewData["Title"] = "License Manager - test";
}

<h1 class="mb-5">License Manager - test</h1>

<div class="parent">
    <div class="child">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Liste</h5>
                <p class="card-text">Liste des licences à supprimer</p>
                <a asp-page="/LicenseManagerTest/UsersList" class="btn btn-primary">Accéder</a>
            </div>
        </div>
    </div>

    <div class="child">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Historique</h5>
                <p class="card-text">Historique des actions effecuées</p>
                <a asp-page="/LicenseManagerTest/History" class="btn btn-primary">Accéder</a>
            </div>
        </div>
    </div>

    <div class="child">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Configuration</h5>
                <p class="card-text">Configuration des paramètres</p>
                <a asp-page="/LicenseManagerTest/Configuration" class="btn btn-primary">Accéder</a>
            </div>
        </div>
    </div>
</div>